@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-pertama: 'Poppins', sans-serif;
  --font-kedua: 'Fredoka', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-pertama);
  --font-mono: var(--font-geist-mono);
  --font-kedua: var(--font-kedua);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-kedua);
}

.font-pertama {
  font-family: var(--font-pertama);
}

.font-kedua {
  font-family: var(--font-kedua);
}
